.rnav { width: 120px; margin: 20px auto; overflow: hidden;margin-left:50px;margin-top:280px}
.rnav li { width: 120px; text-align: center; display: inline-block; margin-bottom: 2px; height: 40px; line-height: 40px }
.rnav li a { color: #FFF; display: block; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s }
.rnav1 { background: #e41637 }
.rnav2 { background: #f16b17 }
.rnav3 { background: #0f9c7c }
.rnav4 { background: #46ce14 }
.rnav li a:hover { background: rgba(255,255,255,0.2); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
.memorial_day { width: 1000px; margin: auto; overflow: hidden; position: relative; padding: 60px; background: url(../images/day.png) no-repeat 400px 30px }
.time_axis { background: #ff0080; height: 6px; width: 100%; animation: time_a 5s; -moz-animation: time_a 5s; /* Firefox */ -webkit-animation: time_a 5s; /* Safari and Chrome */ -o-animation: time_a 5s; /* Opera */ }
/*时间轴动画效果*/
@keyframes time_a { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:1000px;
}
}
 @-moz-keyframes time_a /* Firefox */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:1000px;
}
}
 @-webkit-keyframes time_a /* Safari and Chrome */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:1000px;
}
}
 @-o-keyframes time_a /* Opera */ { 0% {
width:0px;
}
25% {
width:250px;
}
50% {
width:500px;
}
100% {
width:1000px;
}
}
.dateview { position: absolute; top: -50px; left: 20px; display: block; width: 88px; background: url(../images/dtime.png) no-repeat; color: #fff; height: 46px; line-height: 30px; text-align: center }
.memorial_day ul li a { margin-top: 30px; display: block;font-family:华文行楷;font-size:20px;color:#da50ad }
.memorial_day ul li a:hover { text-decoration: underline }
.memorial_day ul li::before { content: ""; width: 14px; height: 14px; border-radius: 50%; position: absolute; background: #f8e0d3; border: 3px solid #ff80c0; }
.memorial_day ul li:hover::before { background: #ff80c0; border-color: #ff80c0; }
.memorial_day ul li.n1 { position: absolute; top: 54px; left: 90px }
.memorial_day ul li.n2 { position: absolute; top: 54px; left: 220px }
.memorial_day ul li.n3 { position: absolute; top: 54px; left: 590px }
.memorial_day ul li.n4 { position: absolute; top: 54px; left: 760px }
.memorial_day ul li.n5 { position: absolute; top: 54px; left: 890px }
.picshow{width:760px; float:left;margin-left:280px;margin-top:40px}
.picshow img{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;opacity:0.8; width:220px;}
.picshow img:hover{opacity:1;}
.ac01,.ac02,.ac03{ position:relative; float:left}
.ac01{z-index:1}
.ac02{z-index:0}
.ac01_text a,.ac02_text a,.ac03_text a{ color:#FFF}
.ac01_text{ position: absolute; line-height: 84px; width: 200px; height: 85px; left: 160px; top: 0px; background: #5DC0CC; text-align: center; font-family: 'Titillium Web', sans-serif;font-size: 30px }
.ac02 img{ margin:100px 0 0 20px;}
.ac02_text{position: absolute;line-height: 84px;width: 200px;height: 85px;right: 150px;top: 573px;background: #DD0076;text-align: center;font-family: 'Titillium Web', sans-serif;font-size: 30px}
.ac03 img{ margin:0 0 0 20px;}
.ac03_text{ background:#DBD700;position: absolute;text-align: center;font-family: 'Titillium Web', sans-serif;font-size: 30px;width: 200px;height: 85px;line-height: 85px;left:100px; top:240px}
aside{ float:left; width:220px; overflow: hidden;}
aside h2{ font-size:14px; margin:10px 0;color:#fff; }
.share{ margin:10px 0; }
aside ul{ padding:10px 0; list-style:none}
aside ul li{ line-height:22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
aside ul li a{ color: #fff; text-shadow:#000 1px 1px 1px;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
aside ul li a:hover{  padding-left:15px }
.blank{ height:5px; overflow:hidden; width:100%; margin:auto; clear:both}